@font-face {
font-family: quickSand;
src: url(../fonts/Quicksand-Regular.otf);
}
@font-face {
font-family: quickSandBold;
src: url(../fonts/Quicksand-Bold.otf);
}
.f-right{
  float: right;
}
.ctn-login{
  background-image: url(../images/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo-login{
  margin-bottom: 20px;
}
.ctn-login-form{
  margin: 0 auto;
  width: 250px;
  margin-top: 20%
}
.input{
  border-radius: 8px;
  border: 0px;
  color: #005E56 !important;
  height: 35px;
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
}
.btn-lost-pass{
  color: white;
  font-size: 10px;
  margin-top: -10px;
  text-align: right;
  display: block;
}
.btn-lost-pass:hover{
  text-decoration: none;
  color: white;
}
.btn-entrar{
  background: #E76131;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}
.header{
  background: #00AAA4;
  height: 61px;
  width: 100%;
}
.footer{
  background: #00AAA4;
  height: 95px;
  margin-top: 50px;
  width: 100%;
}
.txt-footer{
  color: white;
  text-align: right;
  float: right;
  margin-top: 15px;
}
.txt-footer > p{
  font-size: 10px;
}
/*--------------------- Style Home -----------------------*/
.img-header-home{
  background: url(../images/img-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.ctn-txt-banner-home{
  color: white;
  font-family: quickSand;
  font-size: 21px;
  margin-top: 250px;
  padding-bottom: 40px;
}
.sub-title{
  color: #005E56;
  font-family: quickSandBold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ctn-items-visto{
  height: 125px;
}
.ctn-txt-items{
  font-family: quickSand;
  color: white;
  position: absolute;
  bottom: 0px;
}
.ctn-txt-items > h4{
  font-family: quickSandBold;
  margin-bottom: 0px;
}
.ctn-txt-items-time{
  font-family: quickSand;
  color: white;
  position: absolute;
  bottom: -9px;
  right: 15px;
}
.img-visto-1{
  background-image: url(../images/img-mas-visto-1.jpg);
  background-size: cover;
}
.txt-video-modal{
  background: #E0F0EF;
  color: #005E56;
  font-family: quickSand;
  font-size: 11px;
  padding: 13px;
  width: 115% !important;
}
.txt-modal{
  margin-left: 20px;
}
.title-modal{
  font-family: quickSandBold;
  color: #005E56;
}
.txt-info-modal{
  color: #005E56;
  font-size: 11px;
}
