@font-face {
font-family: quickSand;
src: url(../fonts/Quicksand-Regular.otf);
}
@font-face {
font-family: quickSandBold;
src: url(../fonts/Quicksand-Bold.otf);
}
.f-right{
  float: right;
}
.ctn-login{
  background-image: url(../images/background-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo-login{
  margin-bottom: 20px;
}
.ctn-login-form{
  margin: 0 auto;
  width: 250px;
  margin-top: 20%
}
.input{
  border-radius: 8px;
  border: 0px;
  color: #005E56 !important;
  height: 35px;
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
}
.btn-lost-pass{
  color: white;
  font-size: 10px;
  margin-top: -10px;
  text-align: right;
  display: block;
}
.btn-lost-pass:hover{
  text-decoration: none;
  color: white;
}
.btn-entrar{
  background: #E76131;
  border: 0px;
  border-radius: 5px;
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}
.header{
  background: #00AAA4;
  height: 61px;
  width: 100%;
}
.footer{
  background: #00AAA4;
  height: 95px;
  margin-top: 50px;
  width: 100%;
}
.txt-footer{
  color: white;
  text-align: right;
  float: right;
  margin-top: 15px;
}
.txt-footer > p{
  font-size: 10px;
}
/*--------------------- Style Home -----------------------*/
.img-header-home{
  background: url(../images/img-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.ctn-txt-banner-home{
  color: white;
  font-family: quickSand;
  font-size: 21px;
  margin-top: 250px;
  padding-bottom: 40px;
}
.sub-title{
  color: #005E56;
  font-family: quickSandBold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ctn-items-visto{
  height: 125px;
}
.ctn-txt-items{
  font-family: quickSand;
  color: white;
  position: absolute;
  bottom: 0px;
}
.ctn-txt-items > h4{
  font-family: quickSandBold;
  margin-bottom: 0px;
}
.ctn-txt-items-time{
  font-family: quickSand;
  color: white;
  position: absolute;
  bottom: -9px;
  right: 15px;
}
.img-visto-1{
  background-image: url(../images/img-mas-visto-1.jpg);
  background-size: cover;
}
.txt-video-modal{
  background: #E0F0EF;
  color: #005E56;
  font-family: quickSand;
  font-size: 11px;
  padding: 13px;
  width: 115% !important;
}
.txt-modal{
  margin-left: 20px;
}
.title-modal{
  font-family: quickSandBold;
  color: #005E56;
}
.txt-info-modal{
  color: #005E56;
  font-size: 11px;
}

.img-header-home-user{
  background: url(../images/img-home-user.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.ctn-info-user{
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}
.ctn-image-user{
  overflow: hidden;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  float: left;
}
.ctn-input-user{
  margin-left: 8px;
  width: 50%;
  float: right;
}
.input-user{
  color: #005E56;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}
.button-info-user{
  background: #00AAA4;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 25px;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.video-search{
  background-image: url(../images/img-video-search.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
.title-search{
  color: #005E56;
  font-family: quickSandBold;
}
.txt-search{
  color: #005E56;
  font-family: quickSand;
}
.margin-row{
  margin-top: 30px;
}
.img-perfil{
  float: left;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.email-perfil{
  color: #005E56;
  font-family: quickSand;
  font-size: 12px;
  float: left;
  margin-top: 50px;
  margin-left: 20px;
}
.img-video{
  background: url(../images/img-video.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.txt-video{
  background: #E0F0EF;
  color: #005E56;
  font-family: quickSand;
  font-size: 12px;
  padding: 13px;
}
.txt-info-video{
  color: #005E56;
  font-family: quickSand;
}
.ctn-comentarios{
  background: #E0F0EF;
  color: #005E56;
  border-radius: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.img-user-coment{
  background: #8FCBC9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 15px;
}
.img-user-coment-input{
  background: #8FCBC9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: right;
  margin-left: 15px;
}
.input-coment{
  border: 0px;
  width: 90%;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  text-align: right;
}
.ctn-new-user{
  font-family: quickSand;
  color: #005E56;
  background: #ffffffc2;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: auto;
}
.ctn-menu{
  background: #138479;
  width: 80%;
  padding: 15px;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}
.btn-admin{
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 15px;
  color: white;
  font-family: quickSandBold;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
}
.ctn-new-user{
  background: #E0F0EF;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  width: 80%;
  font-family: quickSand;
}
